body {
  background: black;
}
.App {
  font-family: monospace, sans-serif;
  text-align: center;
  color: whitesmoke;
}

.main-container {
  display: flex;
  justify-content: center;
  padding: 8em;
  background: rgb(22, 21, 21);
  color: whitesmoke;
  border: 2px solid whitesmoke;
}
.Form {
  padding: 1em;
  margin-left: 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}
.Results {
  background: #333;
  padding: 2em;
  width: 100%;
  border-radius: 12px;
}
li {
  list-style: none;
}

button {
  background: rgb(189, 87, 50);
  border: none;
  padding: 1em 2em;
  font-weight: bolder;
  color: whitesmoke;
}
button:hover {
  background: coral;
  cursor: pointer;
}
